<curriculum-nav-introduction></curriculum-nav-introduction>
<curriculum-header-introduction></curriculum-header-introduction>
<curriculum-portfolio></curriculum-portfolio>
<div class="footer text-center">
  <div class="container flex-column align-items-center">
    <div class="row justify-content-center">
          <!-- Footer Social Icons-->
          <div class="col-lg-4 mb-lg-0">
              <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
              <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
              <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
              <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
          </div>
      </div>
  </div>
</div>
