
<nav class="navbar bg-secondary text-uppercase fixed-top" id="mainNav">
  <div class="container d-flex flex-column align-items-center">
      <!-- Brand/Logo -->
      <a class="navbar-brand" href="#page-top">Miquel Vidal</a>
      <ul class="navbar-nav flex-row justify-content-center">
        <li *ngFor="let navItem of navItems" class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-3 px-lg-3 rounded" href="#{{navItem.redirectName}}">{{navItem.name}}</a>
        </li>
      </ul>
      <!-- <shared-navbar <-- [navItems]="navItems" ></shared-navbar> -->
  </div>
</nav>

