
<section class="masthead  bg-primary text-white text-center" id="page-top">
  <div class="container d-flex align-items-center flex-column">
      <!-- Masthead Avatar Image-->

      <img class="masthead-avatar mb-5 img-fluid rounded-circle" src="assets/img/mainPhoto.jpg" alt="mainPhoto" height="200" width="200" />
      <!-- Masthead Heading-->
      <h3 class="masthead-heading text-uppercase mb-0">Computer engineer</h3>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light text-center">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- Masthead Subheading-->
      <p class="masthead-subheading font-weight-light mb-0">Backend Developer - FullStack Developer</p>
    </div>
    <curriculum-contact></curriculum-contact>
  </section>
