
<mat-card class="example-card mat-elevation-z4 p-2" appearance="outlined">
  <mat-card-header>
    <mat-card-title><strong>{{ project?.name | removeDash}} </strong></mat-card-title>
  </mat-card-header>
  <mat-card-content class="mt-2">
    <p style="height: 100px">{{ project?.description }}</p>
    <mat-chip-set>
      <mat-chip *ngFor="let topic of project?.topics">{{ topic }}</mat-chip>
    </mat-chip-set>
  </mat-card-content>
  <mat-card-actions class="text-center">
    <a [href]="project?.html_url" target="_blank">
      <button mat-button mat-raised class="primary">
        <i class="fab fa-github"></i>
        GitHub Link
      </button>
    </a>
  </mat-card-actions>
</mat-card>
