<div class="row text-center mt-4">
  <ul class="list-inline text-center">
    <li class="list-inline-item">
      <a href="https://www.linkedin.com/in/mvc4" target="_blank">
        <i class="fab fa-linkedin fa-2x text-white"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="mailto:miquelvidalcortes@gmail.com">
        <i class="fas fa-envelope fa-2x text-white"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="tel:+630232894">
        <i class="fas fa-phone fa-2x text-white"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://github.com/VidalMiquel" target="_blank">
        <i class="fab fa-github fa-2x text-white"></i>
      </a>
    </li>
  </ul>
</div>
